:root {
  --monzo-navy: #14233c;
  --monzo-red: #e34b5f;
  --monzo-yellow: #e7ce9c;
  --monzo-green: #97baa6;
  --monzo-blue: #1e7889;
  /* --hot-coral: ; */
  --btn-primary-color: #00a0d6;
  --btn-primary-bgcolor: #00a0d61a;
  --brand-font-fam: 'MaisonNeue-Book', 'Maison Neue', Helvetica, sans-serif;
  --title-font-fam: 'avenir-next-bold', Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--brand-font-fam);
  font-weight: 400;
  background-color: var(--monzo-navy);
  color: #fff;
}

h1,
h2 {
  font-family: var(--title-font-fam);
  font-weight: 700;
}

h1 {
  color: var(--monzo-yellow);
}

h2 {
  color: var(--monzo-red);
}
